<tr>
  <td>
    <span class="input-group">
      <input type="text"
             id="bill_split_<%= splitNum %>_debtor_id"
             class="user-autocomplete form-control input-sm"
             name="bill[bill_splits_attributes][<%= splitNum %>][debtor_ident]"
             placeholder="Name/Group/Email"
             tabindex="<%= (splitNum * 2) + 3 %>">
    </span>
  </td>
  <td>
    <span class="input-group">
      <span class="input-group-addon input-sm currency-selection"><%= (currencyCode === "USD") ? "$" : currencyCode %></span>
      <input type="text"
             id="bill_split_<%= splitNum %>_amount"
             class="form-control input-sm currency-input split-amount-input"
             name="bill[bill_splits_attributes][<%= splitNum %>][decimal_amount]"
             placeholder="10.00"
             data-is-default="true"
             tabindex="<%= (splitNum * 2) + 4 %>">
    </span>
  </td>
</tr>