<div class="bill-split-form">
  Split with:<br>
  <label for="bill_split_<%= splitNum %>_debtor_id">ID: </label>
  <input type="text"
         id="bill_split_<%= splitNum %>_debtor_id"
         name="bill[bill_splits_attributes][<%= splitNum %>][debtor_id]">

  $<input type="text"
         id="bill_split_<%= splitNum %>_amount"
         name="bill[bill_splits_attributes][<%= splitNum %>][decimal_amount]"
         placeholder="10.00">
</div>