<h3>People You Owe</h3>
<table class="table table-striped">
  <tr><th class="col-sm-6">User</th><th class="col-sm-4">Amount</th><th class="col-sm-2"></tr>
  <% _.each(owedUsers, function(userBal) { %>
    <tr data-user-id="<%= userBal.user.id %>">
      <td>
        <a href="#/users/<%= userBal.user.id %>">
          <%= userBal.user.displayName() %>
        </a>
      </td>
      <td><span class="text-danger"><%= userBal.balance %></span></td>
      <td></td>
    </tr>
  <% }) %>
</table>

<h3>People Who Owe You</h3>
<table class="table table-striped">
  <tr><th class="col-sm-6">User</th><th class="col-sm-4">Amount</th><th class="col-sm-2"> </th></tr>
  <% _.each(owingUsers, function(userBal) { %>
    <tr data-user-id="<%= userBal.user.id %>">
      <td>
        <a href="#/users/<%= userBal.user.id %>">
          <%= userBal.user.displayName() %>
        </a>
      </td>
      <td><%= userBal.balance %></td>
      <td><button class="settle-btn btn btn-info btn-sm" data-user-id="<%= userBal.user.id %>"><i class="fa fa-check"></i> settle</button></td>
    </tr>
  <% }) %>
</table>