<h3>People You Owe</h3>
<table class="table table-striped">
  <tr><th>User</th><th>Amount</th></tr>
  <% _.each(owedUsers, function(userBal) { %>
    <tr data-user-id="<%= userBal.user.id %>">
      <td>
        <a href="#/users/<%= userBal.user.id %>">
          <%= userBal.user.displayName() %>
        </a>
      </td>
      <td><span class="text-danger"><%= userBal.balance %></span></td>
    </tr>
  <% }) %>
</table>

<h3>People Who Owe You</h3>
<table class="table table-striped">
  <tr><th>User</th><th>Amount</th><th> </th></tr>
  <% _.each(owingUsers, function(userBal) { %>
    <tr data-user-id="<%= userBal.user.id %>">
      <td>
        <a href="#/users/<%= userBal.user.id %>">
          <%= userBal.user.displayName() %>
        </a>
      </td>
      <td><%= userBal.balance %></td>
      <td><button class="settle-btn btn btn-info btn-sm" data-user-id="<%= userBal.user.id %>">settled</button></td>
    </tr>
  <% }) %>
</table>