<a class="btn btn-sm btn-default" href="/#/"><i class="fa fa-chevron-left"></i> Back to overview</a>
<h1><%= user.displayName() %></h1>

<h3>
  <% if (user.get("balance") < 0) { %>
    You owe them $<%= BT.int_to_dec(user.get("balance") * -1) %>
  <% } else if (user.get("balance") === 0) { %>
    You're even steven!
  <% } else { %>
    They owe you $<%= BT.int_to_dec(user.get("balance")) %> <button class="settle-btn btn btn-info pull-right" data-user-id="<%= user.id %>"><i class="fa fa-check"></i> settle</button>
  <% } %>
</h3>

<table class="table table-striped table-condensed">
  <% _.each(user.get("bill_splits"), function(split) { %>
    <% var type = (split.debtor_id === CURRENT_USER_ID) ? "debit" : "credit" %>
    <tr>
      <td><%= moment(split.bill.created_at).format("D.MMM.YY") %></td>
      <td>
        <% if(split.bill.settling) { %>
          <span class="text-info"><i class="fa fa-check-circle fa-fw"></i> Settled up!</span>
        <% } else { %>
          <% if (type === "debit") { %>
            <span class="text-danger"><i class="fa fa-arrow-circle-left fa-fw"></i></span> 
          <% } else { %>
            <span class="text-success"><i class="fa fa-arrow-circle-right fa-fw"></i></span>
          <% } %>
          <% if (split.bill.group_id) { %>
            <% var group = BT.groups.get(split.bill.group_id) %>
            <a href="/#/groups/<%= group.id %>"><span class="label label-primary"><%= group.escape("name") %></span></a>
          <% } %>
          <%= split.bill.description %>
        <% } %>
      </td>
      <td><% if (type === "debit") { %>-<% } %>$<%= BT.int_to_dec(split.amount) %>
      <% if (split.bill.orig_currency_code !== 'USD') { %>
        <small class="text-muted">(<%= BT.int_to_dec(split.orig_amount) + " " + split.bill.orig_currency_code %>)</small>
      <% } %>
      </td>
    </tr>
  <% }) %>
</table>