<h3>People You Owe</h3>
<table class="table table-striped">
  <tr><th>User</th><th>Amount</th></tr>
  <% @owed_users.each do |user, amount| %>
    <tr>
      <td><%= user.name || user.email %></td>
      <td><span class="text-danger"><%= Utilities::int_to_decimal(amount) %></span></td>
    </tr>
  <% end %>
</table>

<h3>People Who Owe You</h3>
<table class="table table-striped">
  <tr><th>User</th><th>Amount</th><th> </th></tr>
  <% @owing_users.each do |user, amount| %>
    <tr>
      <td><%= user.name || user.email %></td>
      <td><%= Utilities::int_to_decimal(amount) %></td>
      <td><%= button_to "settle", settle_user_url(user),
              method: :post, class: "btn btn-info btn-sm" %></td>
    </tr>
  <% end %>
</table>