<h1>
  <%= @bill.description %>
  on <%= @bill.created_at.strftime("%-d.%b.%y") %>
</h1>

<h3>Total: $<%= @bill.decimal_total %></h3>
<h3>Split with:</h3>
<table>
  <% @bill.bill_splits.each do |split| %>
    <% user = (split.debtor == current_user) ? "You" : split.debtor.name || split.debtor.email %>
    <tr>
      <td><%= user %></td>
      <td>$<%= split.decimal_amount %></td>
    </tr>
  <% end %>
  <tr>
    <% if @bill.owner_id == current_user.id %>
      <td>Your share</td>
    <% else %>
      <td>Payer's share</td>
    <% end %>
    <td>$<%= Utilities::int_to_decimal(@bill.split_remainder) %></td>
  </tr>
</table>