<a class="btn btn-sm btn-default" href="/#/"><i class="fa fa-chevron-left"></i> Back to overview</a>
<h2><%= group.escape("name") %></h2>
<h5 class="members">Members: <%= displayNames.join(", ") %> <button class="btn btn-sm btn-success" id="add-new-member-btn"><i class="fa fa-plus"></i></button></h5>
<button class="btn btn-danger btn-xs" id="leave-group-btn">Leave group</button>
<h3>Recently split bills</h3>
<table class="table table-condensed table-striped">
  <tr>
    <th class="col-md-2">Date</th>
    <th class="col-md-4">Bill</th>
    <th class="col-md-3">Total</th>
    <th class="col-md-3">Paid by</th>
  </tr>
  <% bills.each(function (bill) { %>
    <tr>
      <td><%= moment(bill.get("created_at")).format("D.MMM.YY") %></td>
      <td><%= bill.escape("description") %></td>
      <td>
        <%= BT.int_to_dec(bill.get("total")) %>
        <% if (bill.get("orig_currency_code") !== 'USD') { %>
          <small class="text-muted">(<%= BT.int_to_dec(bill.get("orig_currency_total")) %> <%= bill.escape("orig_currency_code") %>)
        <% } %>
      </td>
      <td><%= BT.users.get(bill.get("owner_id")).displayName() %></td>
    </tr>
  <% }) %>
</table>