<!DOCTYPE html>
<html>
<head>
  <title>PeopleWho.io</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="nav navbar-left">
    <a class="navbar-brand" href="#/">PeopleWho.io</a>
  </div>
<% if !current_user.nil? %>
  <ul class="nav navbar-nav navbar-right">
    <li class="navbar-text">Logged in as: <%= current_user.email %></li>
    <li><%= button_to "Logout", session_url,
            method: :delete, class: "btn btn-warning navbar-btn" %></li>
  </ul>
<% end %>
</nav>

<div class="container">
<% if flash[:errors] %>
  <div class="alert alert-danger">
    <%= flash[:errors] %>
  </div>
<% end %>

<% if flash[:notices] %>
  <div class="alert alert-success">
    <%= flash[:notices] %>
  </div>
<% end %>

<%= yield %>
</div>
</body>
</html>
